
<div class="container">
    <div>
        <h1 align="center" style="color:white">Welcome To  {{dashboard.household}} </h1>
        <div class="row">
            <!--ROW FOR CREATE ACCOUNT,TRANSACTION, AND VIEWING ACCOUNTS-->
            <div class="row">
                <div align="center" style="padding-left:10px">
                    <div class="col-md-4">
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".cAccount-modal-sm">Add Account</button>
                    </div>
                    <div class="col-md-4">
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".cTrans-modal-lg">Add Transaction</button>
                    </div>
                </div>
                <div class="col-lg-12">
                    <!-- Start Account Tabs -->
                    <div class="col-md-12 col-sm-6 col-xs-12" style="width:100%">
                        <div class=" x_panel">

                            <div class="x_content2">
                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                        <li role="presentation" class="active" ng-repeat="account in dashboard.accounts">
                                            <a href="#tab_content1" id="home-tab" ng-click="dashboard.getAccount(account.Id); dashboard.getTransaction(account.Id);" role="tab" data-toggle="tab" aria-expanded="true" style="letter-spacing:2px; color:royalblue; font-weight:bold; font-size:18px">
                                                {{account.Name}}
                                            </a>
                                        </li>
                                    </ul><br />
                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                            <div class="row">
                                                <div class="row" style="text-align:center">
                                                    <div class="col-lg-6" style="font-size:18px;">
                                                        Account:<span style="color:royalblue">    {{dashboard.amodel.Name}} </span>
                                                        Balance: <span style="color:royalblue"> {{dashboard.amodel.Balance}} </span>
                                                    </div>
                                                </div><br />
                                                <!--Transactions-->
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="x_panel">
                                                            <div class="x_title">
                                                                <h2>Transactions</h2>

                                                                <div class="clearfix"></div>
                                                            </div>
                                                            <div class="body-content">
                                                                <table id="example" class="table table-striped responsive-utilities jambo_table">
                                                                    <thead>
                                                                        <tr class="headings">
                                                                            <th>
                                                                                <input type="checkbox" class="tableflat">
                                                                            </th>
                                                                            <th>Description </th>
                                                                            <th>Amount</th>
                                                                            <th>Category </th>
                                                                            <th>Created</th>
                                                                            <th>Reconciled</th>
                                                                            <th class=" no-link last">
                                                                                <span class="nobr">Action</span>
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr class="even pointer" ng-repeat="transaction in dashboard.transactions" ng-click="">
                                                                            <td class=" a-center " >
                                                                                <input type="checkbox" class="tableflat">
                                                                            </td>
                                                                            <td class=" ">{{transaction.Description}}</td>
                                                                            <td class=" ">{{transaction.Amount}}</td>
                                                                            <td class=" "> {{transaction.Category}}</td>
                                                                            <td class=" ">{{transaction.Created}}</td>
                                                                            <td class=" "></td>
                                                                            <td class=" last">
                                                                                <a href="#">View</a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Tabs Account -->
                </div>

                <div>

                    <!--CREATE ACCOUNT-->
                    <div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div>
                                <div class="">
                                    <br />
                                    <div class="modal fade cAccount-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel2">Add Account To Household</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" ng-submit="dashboard.createAccount()">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Account</label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" class="form-control" placeholder="Account Name" ng-model="dashboard.amodel.Name">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Balance</label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" class="form-control" placeholder="Balance" ng-model="dashboard.amodel.Balance">
                                                            </div>
                                                        </div>
                                                        <div class="ln_solid"></div>
                                                        <div class="form-group row">
                                                            <div class="col-md-6">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="this.form.reset()">Close</button>
                                                            </div>
                                                            <div class="col-md-6 ">
                                                                <button type="submit" class="btn btn-success">Submit</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Create Transaction-->
                    <div>
                        <div class="modal fade cTrans-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel2">Add A Transaction</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group row" ng-submit="dashboard.createTransaction()">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"> Select Account</label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <select class="form-control">
                                                    <option>Choose option</option>
                                                    <option>Option one</option>
                                                    <option>Option two</option>
                                                    <option>Option three</option>
                                                    <option>Option four</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Amount</label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <input type="text" class="form-control" ng-model="dashboard.tmodel.Amount" placeholder="Amount($):">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Category</label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <select class="form-control">
                                                    <option>Choose option</option>
                                                    <option>Option one</option>
                                                    <option>Option two</option>
                                                    <option>Option three</option>
                                                    <option>Option four</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <textarea type="text" class="form-control" ng-model="dashboard.tmodel.Description" placeholder="Description(50 Characters)"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--CHARTS-->
            <div class="row">

            </div>
        </div><!--END OF MAIN ROW-->
    </div>
</div>